# ==============================
# Application
# ==============================

NODE_ENV=development

API_GATEWAY_PORT=3000
IDENTITY_SERVICE_PORT=3001
ASSET_SERVICE_PORT=3002
MAINTENANCE_SERVICE_PORT=3003
WORKORDER_SERVICE_PORT=3004
NOTIFICATION_SERVICE_PORT=3005

# ==============================
# PostgreSQL
# ==============================

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=pbl6
POSTGRES_PASSWORD=pbl6_dev_password

IDENTITY_DATABASE_URL=postgresql://pbl6:pbl6_dev_password@localhost:5432/identity_db

ASSET_DATABASE_URL=postgresql://pbl6:pbl6_dev_password@localhost:5432/asset_db

MAINTENANCE_DATABASE_URL=postgresql://pbl6:pbl6_dev_password@localhost:5432/maintenance_db

WORKORDER_DATABASE_URL=postgresql://pbl6:pbl6_dev_password@localhost:5432/workorder_db

NOTIFICATION_DATABASE_URL=postgresql://pbl6:pbl6_dev_password@localhost:5432/notification_db


# ==============================
# RabbitMQ
# ==============================

RABBITMQ_URL=amqp://pbl6:pbl6_dev_password@localhost:5672


# ==============================
# Redis
# ==============================

REDIS_URL=redis://localhost:6379


# ==============================
# MinIO
# ==============================

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=pbl6
MINIO_SECRET_KEY=pbl6_minio_password


# ==============================
# JWT
# ==============================

JWT_ACCESS_SECRET=CHANGE_ME
JWT_REFRESH_SECRET=CHANGE_ME