# =========================
# CẤU HÌNH CHUNG (Hệ điều hành & IDE)
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# =========================
# BACKEND (Node.js) & FRONTEND (ReactJS)
# =========================
# Thư viện
node_modules/
.pnp
.pnp.js

# File môi trường chứa thông tin bảo mật (Database, API Key)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Thư mục build
dist/
build/
coverage/

# Log lỗi npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# MOBILE (Flutter)
# =========================
# File cấu hình sinh tự động của Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Thư mục build app
build/

# Android
**/android/key.properties
**/*.jks
**/*.keystore
**/android/local.properties

# iOS
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/profile